{% extends 'AppBundle:default:layout.html.twig' %}
{% block content %}

<div class="page page1">
    <div class="h832">
        <div class="innerDiv">
            <img src="{{ asset('bundles/app/default/') }}/images/loadingImg.png" class="abs bgImg">
            <div class="loadImg2"></div>
        </div>
    </div>
</div>

<div class="page page2" style="display:none;">
    <div class="h832">
        <div class="innerDiv">
            <div class="abs bgImg bgImg2" style="display:none;"></div>
            <div class="abs bgImg bgImg2a" style="display:none;"></div>
            <div class="abs bgImg bgImg2b" style="display:none;">
                <div class="innerDiv">
                    <div class="showBirthBolck showBirthBolck1"></div>
                    <div class="showBirthBolck showBirthBolck2"></div>
                    <div class="showBirthBolck showBirthBolck3"></div>
                    <select class="bSel bSel1" onChange="showSel(1);">
                        <option></option>
                        {% for i in range(1,31) %}
                        <option>{{ i }}</option>
                        {% endfor %}
                    </select>
                    <select class="bSel bSel2" onChange="showSel(2);">
                        <option></option>
                        {% for i in range(1,12) %}
                        <option>{{ i }}</option>
                        {% endfor %}
                    </select>
                    <select class="bSel bSel3" onChange="showSel(3);">
                        
                        <option></option>
                        {% for i in range(1920,2016) %}
                        <option>{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <img src="{{ asset('bundles/app/default/') }}/images/pullBtn.png" class="pullBtn" style="display:none;">
        </div>
    </div>
</div>

<div class="page page3" style="display:none;">
    <div class="h832">
        <div class="innerDiv">
            <div class="abs bgImg bgImg3a" style="display:none;"></div>
            <div class="abs bgImg bgImg3b" style="display:none;"></div>
            <a href="javascript:void(0);" class="abs page3Btn1" onClick="goPage4();" style="display:none;"><img src="{{ asset('bundles/app/default/') }}/images/page3Btn1.png"></a>
        </div>
    </div>
</div>

<div class="page page4" style="display:none;">
    <div class="h832">
        <div class="innerDiv">
            <div class="abs bgImg bgImg4a"></div>
            <div class="abs bgImg bgImg4b" style="display:none;"></div>
            <a href="javascript:void(0);" class="abs page4Btn1" onClick="showShareNote();" style="display:none;"><img src="{{ asset('bundles/app/default/') }}/images/page4Btn1.png"></a>
        </div>
    </div>
</div>

<div class="page page5" style="display:none;">
    <div class="h832">
        <div class="innerDiv">
            <img src="{{ asset('bundles/app/default/') }}/images/bgImg5.png" class="abs bgImg">
        </div>
    </div>
</div>

<img src="{{ asset('bundles/app/default/') }}/images/bottomImg.jpg" class="bottomImg">

<div class="popBg" style="display:none;" onClick="closeShareNote();"></div>
<div class="shareNote1" style="display:none;" onClick="goPage5();"></div>
<div class="shareNote2" style="display:none;" onClick="closeShareNote();"></div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script>

	</script>
{% endblock %}